<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="./stylesheets/style.css">
    <title>Document</title>
</head>
<body>
    <div class="container-fluid d-flex flex-column align-items-center" id="apparaitre">
        <div id="tempo" class="col xs-12 col-md-10 col-lg-8  d-flex flex-column  text-center mt-5 "  style="background-color: white;">
            <h4>Votre commande Paris/Lille, Paris/Bordeaux a bien était prise en compte.</h4>
            <a href="/homepage"><button  id="croix" class="btn btn-danger">Retour</button></a>
        </div>
    </div>
            
</body>
</html>