body {
 
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  padding: 0;
  margin:0;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#1e5799+0,2989d8+50,207cca+51,7db9e8+100;Blue+Gloss+Default */
background: linear-gradient(to bottom,  #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

}
.navbar{
  background-color: #F5F6FA;
}
.navbar:link{
  text-decoration:none;
}

a{
  color:black;
}
a:hover{
    color: red;
}
.titleForm{
  color: white;
}
h6{
  color:gray;
  font-size: 9px;
}
.structure{
  background-color: white;
  border-radius: 1%;
}
.bouton{
  height:  10% max-content;;
  margin-top: 5%;
  margin-bottom: 5%;
}
